.back-blue {
    background-color: #06214e !important;
    color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff !important;
}

.navbar-light .navbar-brand {
    color: #fff !important;
}