.search {
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);

}

.search input {

    height: 60px;
    text-indent: 25px;
    border: 2px solid #d6d4d4;


}

.unselect{
    user-select: none;
}
.search input:focus {

    box-shadow: none;
    border: 2px solid blue;


}

.search .fa-search {

    position: absolute;
    top: 20px;
    left: 16px;

}

.search button {

    position: absolute;
    top: 5px;
    right: 5px;
    height: 50px;
    width: 110px;
    background: blue;

}

.modal-suggestions {
    height: 300px;
    overflow-x: auto;
}

.set_suggestion_height {
    height: 250px;
    overflow-y: auto;
}

.bd-highlight {
    background-color: #b2b0b0;
}

.set_suggestion_height_topics {
    height: 250px;
    overflow-y: auto;
}

.btn-primary {
    background-color: rgb(142, 169, 219);
    color: #000;
    font-weight: bold;
    border-color: rgb(142, 169, 219);
}

.btn-grey {
    background-color: grey;
    border-color: grey;
    font-weight: bold;
}

.btn-primary:hover {
    background-color: rgb(142, 169, 219);
    color: #000;
    font-weight: bold;
    border-color: rgb(142, 169, 219);
}

.h-fixed-30 {
    height: 95px;
}

.border-blue {
    border-color: #06214e !important;
}

.fixed-width {
    width: 80%;
    overflow-x: hidden;
    /* max-width: 1300px !important; */
    white-space: nowrap;
}

/* .line{
    display: inline-block;
    white-space: nowrap;
    margin-right: 10px;
} */
.left-scroll-btn {
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
}

.right-scroll-btn {
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 60px;
}

.fav_tracks {
    right: 0;
    left: 100;
    top: 1;
    bottom: 25px;
    /* margin:auto; */
    height: 60px;
    width: 400px;
    font-size: x-large;
}

.active-page {
    background-color: #06214e;
    color: #fff;
}

.page-item.active .page-link {
    z-index: 1;
    color: #000;
    font-weight: bold;
    background-color: rgb(142, 169, 219);
    border-color: rgb(142, 169, 219);
}
.fa-facebook-square{
    color: #037ED8;
    font-size: 34px;
}
.fa-twitter-square{
    color: #1C96E8;
    font-size: 34px;
}
.fa-instagram{
    color: #F401D3;
    font-size: 34px;
}
 .text-muted {
    display: none !important;
}
.underline {
    position: relative;
    display: inline-block;
  }

  .underline::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 2px;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s ease-in-out;
  }

  .underline:hover::after {
    transform: scaleX(1);
  }

  .zoom-block {
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .zoom-block img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }

  .zoom-block:hover {
    transform: scale(1.1);
  }

  .zoom-block:hover img {
    transform: scale(1.1);
  }

@media screen and (max-width: 1200px) {
    .fav_tracks_parent {
        /* margin-top: 5rem;
        margin-bottom: 1rem; */
        left: -80px;
        right: 0;
        top: 0;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .user_faves_track{
        margin-top:2rem;
        margin-bottom: 2rem;    
    }
    .fav_tracks{
        width: auto;
    }
    .h-fixed-30 {
        height: 90px;
    }
}

@media screen and (max-width: 415px) {
    .fav_tracks_parent {
        margin-top: 5rem;
        margin-bottom: 1rem;
        left: -8px;
        right: 0;
        top: 0;
        margin-right: 50px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .user_faves_track{
        margin-top:2rem;
        margin-bottom: 2rem;    
    }
    .fav_tracks{
        width: auto;
    }
    .h-fixed-30 {
        height: 90px;
    }
}
@media screen and (max-width: 991px) and (min-width: 416px){
    .fav_tracks_parent {
        left: -190px;
        right: 0;
        top: 28px;
        margin-right: 50px;
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 768px) and (min-width: 415px){
    .fav_tracks_parent {
        left: -90px;
        right: 0;
        top: 28px;
        margin-right: 50px;
        margin-bottom: 2rem;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }  
}